header {
    margin: 0;
    height: 40px;
    padding: 30px;
    background: rgb(221, 113, 109);
    overflow: hidden;
    position: relative;

    color: white; /* Cor do texto */
    text-align: left; /* Alinhamento do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */
    font-family: 'Arial', sans-serif; /* Escolha a fonte desejada */
    vertical-align: top;
    
}

.all.containers {

    display: flex;
      flex-wrap: wrap;
      justify-content: center;
}

.container {
    width: 100%;
    max-width: 600px; /* Defina a largura máxima da div conforme necessário */
    margin: 0 auto; /* Centralize a div na página */
    border: 1px solid #ccc; /* Adicione uma borda para destacar a div */
    overflow: hidden; /* Limite o overflow para conter as flutuações internas */
    border-radius: 25px; /* Adicione bordas arredondadas */
    background-color: #f8f8f8;
    display: block;
    margin-bottom: 20px;
  }

  .imagem {
    float: left; /* Flutue a imagem para a esquerda */
    max-width: 40%; /* Ajuste a largura da imagem conforme necessário */
    height: auto; /* Mantenha a proporção da imagem */
    border-radius: 10px 0 0 10px; /* Arredonde a borda esquerda da imagem */
  }

  .texto {
    padding: 20px; /* Adicione um preenchimento para espaçamento interno */
  }

  a {
      text-decoration: none; /* Remove o sublinhado */
      color: black; /* Define a cor do texto do link, neste caso, preto */
    }

body
{
    margin: 0;
}

nav {
    margin: 0;
    background-color: green;
    overflow: hidden;
    position: relative;
}

nav ul {
    margin-right: 10%;
    margin-left: 10%;
}

nav li, nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

nav a {
    padding: 15px 30px;
}

nav a:hover {
    background-color: white;
    color: black;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.background-image {
    background-image: url(../images/pizza-background.jpg); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
background-position: center top;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

